.agetimer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background-color: #000;
}

.agetimer-container h2 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}

.agetimer-container p {
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
  text-align: center;
}