* {
    color: #fff8dc;
}

.asteroidcounter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;

    /*
    background-color: #002539;
     */
    /* Linear gradient from top black to bottom #002539 */
    background: linear-gradient(black 10%, #002539 90%);

    margin: 0;
}

.asteroidcounter-container h2 {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
}

.asteroidcounter-container p {
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    text-align: center;
}